* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(192, 189, 189)
}
.header {
    color: gray;
    background-color: rgb(203, 240, 235);
    text-align: center;
}
a {
    color: rgb(0, 162, 255)
}
.recipe-photo {
    height: auto;
    width: 300px
}